*{
    box-sizing: border-box;
    margin:0;
}
.header{
    font-family: 'Montserrat', sans-serif;
    display:flex;
    padding: 10px;
    flex-direction:row;

    .logo{
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 1.5em;
        color:00AF91;
    }
    
    justify-content:space-between;
    .main-nav{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;


        a {
            padding: 10px 15px;
            
            text-align: center;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                color: blueviolet;

            }       
        }
        
        
        
        
            
    }
    
    background-color:A6F6F1;


    
}
