* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #e8ffff;
  body {
    height: 100vh;
    margin: 0;
  }
}

.header {
  font-family: "Montserrat", sans-serif;
  display: flex;
  padding: 10px;
  flex-direction: row;

  .logo {
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 1.5em;
    color: #00af91;
  }

  justify-content: space-between;
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

    a {
      padding: 10px 15px;

      text-align: center;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: blueviolet;
      }
    }
    .email {
      text-transform: lowercase;
    }
  }

  background-color: #a6f6f1;
}

footer {
  margin-top: 100vh;
  min-height: 50px;
  background-color: #a6f6f1;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-left: 0;

    a {
      padding: 10px 10px;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      &:hover {
        color: blueviolet;
      }
    }
  }
}
